<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class='navbar-brand'>
        <img class="navbar-logo" src="/public/images/mountain_logo.png">
        <span class="navbar-brand-label">Hapi-Handlebars Boilerplate</span>
      </a>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar-collapse-1'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <div class='collapse navbar-collapse' id='navbar-collapse-1'>
      <ul class='nav navbar-nav navbar-right'>
        <li data-menu-option="home-page"><a href="{{path.index}}">Home</a></li>
        <li><a href="/">Placeholder</a></li>
        <li class="dropdown">
          <a href="{{path.about}}" class="dropdown-toggle" data-toggle='dropdown' role='button'>Info<span class='caret'></span></a>
          <ul class='dropdown-menu'>
            <li data-menu-option="about-page"><a href="{{path.about}}">About</a></li>
            <li class="divider"></li>
            <li data-menu-option="contact-page"><a href="{{path.contact}}">Contact</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
