<div class='footer band footer-format'>
  <div class='container'>
    <div id='footer-links' class='col-xs-6'>
      <ul>
        <li><a href="{{path.about}}">ABOUT</a></li>
        <li>|</li>
        <li><a href="#">CONTACT</a></li>
      </ul>
      <p>{{title}} &copy; 2015.</p>
    </div>
    <div id='footer-social-links' class='col-xs-6'>
      <ul>
        <li><a href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
      </ul>
    </div>
  </div>
</div>

