/* Bootstrap related overrides or additions */
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-logo {
    position: absolute;
    top: 8px;
    height: 32px;
    width: 32px;
}

.navbar-brand-label {
    margin-left: 35px;
}

/* display dropdown menu on hover (prevent on collapsed navbar, smaller screens) */
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* Other CSS */
.features .glyphicon {
  font-size: 32px;
  color: #2c3e50;
}

.contact-glyph {
  margin-right: 5px;
}

.main-image {
  height: 85%;
  width: 85%;
}

.error-page {
  padding: 10px 0px 10px 0px;
  color: red;
}

.footer-format {
  color: #ecf0f1;
  background-color: #34495e;
  margin-top: 30px;
}

#footer-links ul {
  list-style-type: none;
  text-align: left;
  margin: 10px 0 4px;
  padding: 0;
}

#footer-links ul li {
  display: inline;
  margin-right: 10px;
}

#footer-links a {
  color: #ecf0f1;
}

#footer-links p {
  font-size: 12px;
  color: #bdc3c7;
}

#footer-social-links ul {
  list-style-type: none;
  text-align: right;
  margin: 12px 0 16px;
  padding: 0;
}

#footer-social-links ul li {
  display: inline;
  margin-right: 10px;
}

#footer-social-links a {
  color: #ecf0f1;
  font-size: 26px;
}

