/* Bootstrap related overrides or additions */
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-logo {
    position: absolute;
    top: 8px;
    height: 32px;
    width: 32px;
}

.navbar-brand-label {
    margin-left: 35px;
}

/* display dropdown menu on hover (prevent on collapsed navbar, smaller screens) */
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* Other CSS */
.features .glyphicon {
  font-size: 32px;
  color: #2c3e50;
}

.contact-glyph {
  margin-right: 5px;
}

.main-image {
  height: 85%;
  width: 85%;
}
