{{!< layout/default }}
<div id='current-page' data-menu='homepage' class="container">
  <div class="row well well-lg">
    <div class="col-xs-12 col-md-6">
      <h2>The Fastest Way to Space</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <button type='button' class='btn'>Take the Tour</button>
      <button type='button' class='btn'>Book Tickets Now</button>
    </div>
    <div class="col-sm-5 col-sm-offset-1 hidden-xs hidden-sm">
      <img class='logo' src="images/projects.png">
    </div>
  </div>
  <div class="row features">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <i class='glyphicon glyphicon-briefcase'></i>
      <h3>Book Today!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <i class='glyphicon glyphicon-random'></i>
      <h3>Go Anywhere</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <i class='glyphicon glyphicon-send'></i>
      <h3>RocketBus&reg;</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>
</div>
